.padded {
  padding: 1em;
}

.card{
  z-index: -1;
}



.push {
  margin-top: 17em;
}

.results {
  width: 25em;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.25);
}

.hover {
  position: fixed;
}
